<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <appSettings>
    <add key="IP" value="192.168.0.102" />
    <add key="Username" value="Lilos" />
    <add key="Password" value="Cjkysirj614025" />
    <add key="PathToTests" value="D:\Sharp\MVC\JetBrainsTests\Tests_dll" />
    <add key="PathToPsExec" value="D:\Sharp\PSTools\PsExec.exe" />
    <add key="GuestPathToTests" value="C:\JetBrainsTemp" />
    <add key="TestDllName" value="Core_Tests.dll" />
    <add key="TestXmlName" value="Core_Tests_Result.xml" />
    <add key="PathToTestsResult" value="D:\Sharp\MVC\JetBrainsTests_Results" />
  </appSettings>
</configuration>